@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  background-color: white;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  background-color: white;
}

.text-primary {
  color: hsl(var(--p));
}

.text-animation {
  transition: 0.3s;
}

.text-animation:hover {
  color: hsl(var(--p));
}

.error-animation:hover {
  background-color: hsl(0, 100%, 60%)
}
